/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

$tablet: 768px;
$phone: 480px;

* {
    box-sizing: border-box; /*padding and border included in width/height*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    padding: 0;
    margin: 0;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index:1;
}
li {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    margin-left: 50px;
    margin-right: 60px;
    float: left;
}
h1 {
    font-family: 'Oswald', sans-serif;
    color: #fdc999;
    margin-bottom:-20px;
}
h2 {
    font-family: 'Oswald', sans-serif;
    color: #888;
}
h3 {
    font-family: 'Oswald', sans-serif;
}
a {
    /* font-size: 0.7vw; */
    font-size: 12pt;
    text-decoration: none;
    color: #fdc666;
}
body {
    margin: 0;
    padding: 0;
    background-color: #040404;
    /* background-color: #000; */
    /* font-family: 'Poppins', helvetica; */
    font-family: 'Ubuntu', sans-serif;
    color: #f2f2f2;
}

/* For desktop: */
.col-1 {width: 8.32%;}
.col-2 {width: 16.65%;}
.col-3 {width: 24.5%;}
.col-4 {width: 33.32%;}
.col-5 {width: 41.65%;}
.col-6 {width: 49.8%;}
.col-7 {width: 58.32%;}
.col-8 {width: 66.65%;}
.col-9 {width: 74.9%;}
.col-10 {width: 83.32%;}
.col-11 {width: 91.65%;}
.col-12 {width: 100%;}

/* For tablets: */
/* @media only screen and (min-width: 480px) { */
/*   .col-s-1 {width: 8.33%;} */
/*   .col-s-2 {width: 16.66%;} */
/*   .col-s-3 {width: 25%;} */
/*   .col-s-4 {width: 33.33%;} */
/*   .col-s-5 {width: 41.66%;} */
/*   .col-s-6 {width: 50%;} */
/*   .col-s-7 {width: 58.33%;} */
/*   .col-s-8 {width: 66.66%;} */
/*   .col-s-9 {width: 75%;} */
/*   .col-s-10 {width: 83.33%;} */
/*   .col-s-11 {width: 91.66%;} */
/*   .col-s-12 {width: 100%;} */
/* } */

@media only screen and (max-width: 1200px) {
/* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        box-sizing: border-box; /*padding and border included in width/height*/
    }
    .timeline-container {
        font-size: 10px;
    }
    .center {
        flex-direction: column;
    }
    li {
        margin-left: 20px;
        margin-right:20px;
    }
    ul.projnav {
        width: 100%;
        margin: 0;
    }
    ul.navigation {
        display: none;
    }
    ul.subnavigation {
        display: none;
    }
    .m-menu {
        display: block;
    }
}

.grid-container {
    /* position: absolute; */
    z-index:1;
    display: flex;
    max-width: 2000px;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    flex-direction: column;
    justify-content: center;
    margin-top: 300px;
    /* border: 1pt solid red; */
}

[class*="col-"] {
  float: left;
  /* border: 1pt solid red; */
}
.row {
    justify-content: center;
    margin-bottom: 10px;
    clear: both;
    /* border: 1pt solid red; */
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fixed {
    top: -15px;
    position: fixed;
    z-index: 10;
    width:100%;
    height: 191px;
    background-color: #040404;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #222;
    margin-top: 50px;
    /* margin: 1em 0; */
    padding: 0;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: #fdc999;
}
.project {
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    text-align: justify;
    transition: 1s;
}
.project:hover {
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    z-index: 5;
    transform: scale(103%);
    transition: 1000ms;
}
.tikzbg {
    color: #000;
    animation-name: change_color;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes change_color {
    100% { background-color: #fff; }
    background-color: #fff;
}
.htmlstyle {
    font-style: italic;
    color:#646464;
}
.hidden {
    opacity: 0;
    transition: 1s;
    filter: blur(5px);
    transform: translateY(20%);
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0%);
}

.timeline-container {
	width: 100%;
    margin-top: 200px;
}

.timeline-item {
    border-bottom: 1px solid #222;
	width: 30%;
    margin-left: auto;
    margin-right: auto;
	padding: 3em 2em 2em;

}
.timeline-item p {
		font-size: 1rem;
        text-align: justify;
}
.timeline-item:before {
    content: attr(date-is);
    color: #666;
    position: absolute;
    left: -60px;
    top:20px;
    display: block;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 12px;
}


#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
.m-menu {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #fff;
}
.open.bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
.open.bar2 {
  opacity: 0;
}
.open.bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}
.open.m-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.menu {
    position: absolute;
    width:100%;
    align-items: center;
    /* border-top: 1px solid red; */
}
.subss {
    position: relative;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    /* border:1px solid red */
}
.navigation {
    min-width: 600px;
    width: 600px;
    list-style-type: none;
    background-color: transparent;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    /* min-width: 600px; */
    border-top: 1px solid #555;
}
.subnavigation {
    list-style-type: none;
    background-color: transparent;
    padding: 0;
    min-width: 300px;
    width: 300px;
}
.subnavigation a {
    font-size: 14px;
}
.projnav {
    position:relative;
    z-index:10;
    min-width: 100px;
    width: 100px;
    list-style-type: none;
    background-color: transparent;
    padding: 10px;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: -120px;
    border-right: 1px solid #555;
}
.current {
    display: table-cell;
    text-align: center;
    text-decoration: none;
    color: #f2f2f2;
    font-weight: bold;
    vertical-align: middle;
    background-color: transparent;
}
#projects {
    width: 100px;
}

#research {
    /* margin-left: 15px; */
    /* margin-left: 55px; */
    margin-left: -5px;
    margin-top: -56px;
}
#extra {
    margin-left: 166px;
    margin-top: -33px;
}
.currentcover {
    display: table-cell;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    vertical-align: middle;
}
.waiting {
    color: #777;
    text-align: center;
    text-decoration: none;
    display: table-cell;
}
.waitingcover {
    color: #aaa;
    text-align: center;
    text-decoration: none;
    display: table-cell;
}
.waiting:hover{
    color: #fdc666;
    transition: 600ms;
}
.waitingcover:hover{
    color: #fdc666;
}

.articles {
    margin-top: 30px;
    margin-bottom: -20px;
}
.articles h3 {
    font-size: 20px;
    text-align: center;
    /* border: 1pt solid white; */
}
.journals ul {
    counter-reset: list;
}
.journals li {
    list-style: none;
    font-size: 17px;
    text-indent: -30px;
    counter-increment: list;
    text-align: justify;
}
.journals li::before {
    content: "{J" counter(list, numeric)"}";
    position: relative;
    left: -16px;
}
.conferences ul {
    counter-reset: list;
}
.conferences li {
    list-style: none;
    text-indent: -37px;
    font-size: 17px;
    counter-increment: list;
    text-align: justify;
}
.conferences li::before {
    content: "[C" counter(list, numeric)"]";
    position: relative;
    left: -16px
}

/*LATEX logo*/
.tex sub, .latex sub, .latex sup {
  text-transform: uppercase;
}

.tex sub, .latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.tex, .latex, .tex sub, .latex sub {
  font-size: 1em;
}

.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}
.snippets {
    grid-column: span 8;
    margin-top:-20px;
    margin-bottom:100px;
    justify-content: center;
    font-size:12pt;
    text-align:center;
}
/* Footer style */
.footer {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
}
.footer a img{
    transition: 1s;
}
.footer a:hover img {
    filter: brightness(0.3);
    transition: 400ms;
}
.summary {
    color: #999;
}
.keyword {
    color: #33b3a6;
    margin-top: -15px;
    font-style: italic;
}

.subcolumn.icons {
    float: left;
    vertical-align: middle;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    width: 10%;
}

