.navigation {
    list-style-type: none;
    background-image: url(/images/pluto.jpg) no-repeat;
    background-color: #000;
    position: fixed;
    margin: 5px;
    top: 5px;
    max-width: 1000px;
    padding: 0;
}

.current {
    display
}

.li {
    float: left;
}
