* {
    box-sizing: border-box;
}

li {
    float: left;
}

h1 {
    margin-top: 20px;
    margin-bottom: 5px;
}
a {
    text-decoration: none;
    color: #0645AD;
}
body {
    background-color: transparent;
    max-width: 1000px;
    margin: auto;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.navigation {
    list-style-type: none;
    background-image: url("./images/pluto.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    margin: 0;
    top: 4px;
    max-width: 1000px;
    padding: 0;
    width: 100%;
}

.subnavigation {
    list-style-type: none;
    background-color: #333;
    position: fixed;
    margin: 0;
    top: 74px;
    max-width: 1000px;
    padding: 0;
    width: 100%;
}

.current {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #333;
    height: 70px;
    padding: 0px 15px;
    display: table-cell;
    vertical-align: middle;
}

.waiting {
    color: #aaa;
    text-align: center;
    text-decoration: none;
    height: 70px;
    padding: 0px 15px;
    display: table-cell;
    vertical-align: middle;
}

.waiting:hover{
    color: #fff;
}

.subcurrent {
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    height: 30px;
    padding: 0px 15px;
    display: table-cell;
    vertical-align: middle;
}

.subwaiting {
    text-align: center;
    text-decoration: none;
    color: #aaa;
    height: 30px;
    padding: 0px 15px;
    display: table-cell;
    vertical-align: middle;
}

.subwaiting:hover {
    color: #fff;
}

.main {
    color: #333;
    margin-top: 0px;
    background-color:#fff;
    width: auto;
}

.icon {
    margin-top: 2px;
    margin-bottom: 2px;
}

.icon:hover {
    background-color: #f1f1f1;
}

/* Clear floats after the columns */
.section:after {
    content: "";
    clear: both;
    display: table;
}

.column.img {
    float: left;
    width: 15%;
}

.column.bigimg {
    margin-top:25px;
    float: left;
    width: 40%;
}

.column.intro {
    text-align: justify;
    float: left;
    margin-top: 0px;
    width: 85%;
    padding: 0px 15px;
}

.column.text {
    text-align: justify;
    float: left;
    padding: 10px 35px;
    margin-top: 25px;
    width: 85%;
}

.column.smalltext {
    text-align: justify;
    float: left;
    padding: 10px 35px;
    margin-top: 0px;
    width: 60%;
}

.subcolumn.icons {
    float: left;
    vertical-align: middle;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    width: 10%;
}

.subcolumn.salut {
    margin-top: 15px;
    margin-left: 100px;
    padding: 20px 0px;
    width: 60%;
}

/* Footer style */
.footer {
    text-align: center;
    font-size: 10pt;
    color: #999;
    width: 100%;
}

.footer:after {
    content: "2021 Aitor R. Gomez";
}

@media only screen and (max-width: 768px) {
    .column.img {
        width: 100%;
        height: auto;
    }
    .column.text {
        margin-top: 10px;
        width:100%;
    }
    .column.intro {
        width:100%;
    }
    .subcolumn.salut {
        margin-left: 70px;
        width:80%;
    }
}
